

@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

.top_banner {position:fixed;left:0;top:0;width:100%;z-index:10;height:82px;text-align:center;background-color:transparent}
.top_banner img {max-width:500px;width:100%;margin:0 auto}
.keyvisual {display:flex;position:relative;height:calc(100vh - 147px);text-align:center;background:url(../images/bg2.jpg) no-repeat 50% 50% / cover;justify-content:center;align-items:center;flex-direction:column}
.keyvisual:before {display:block;position:absolute;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,0.4);content:''}
.keyvisual img {max-width:603px;width:100%;margin:0 auto}
.keyvisual .keyvisual_inner {position:relative;width:100%}
.btns {width:100%;margin:40px 0 0;text-align:center;font-size:0}
.btn {display:inline-block;width:300px;margin-left:40px}
.btn:first-child {margin-left:0}
.btn a {display:block;padding:15px 0;font-size:40px;font-weight:700;color:#fff;font-style:italic;background-color:#fe0104}
.btn.blue a {background-color:#077fd5}
#footer {height:147px;background-color:#461228}
#footer .inner {display:flex;max-width:970px;width:100%;margin:0 auto;padding:20px 0;color:#fff;justify-content:flex-start;align-items:center}
#footer .inner .logo {max-width:300px;width:100%;vertical-align:middle}
#footer .inner .infox {padding-left:30px;vertical-align:middle;font-size:32px;font-family: 'Jua', sans-serif;}
#footer .inner .info {padding-left:30px;vertical-align:middle;font-size:32px;font-family: 'LAB디지털'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/LAB디지털.woff') format('woff'); font-weight: normal; font-style: normal;}

#footer .inner .info p:first-child {margin:0}
#footer .inner .info p br {display:none}

@media screen and (max-width:1200px) {
	#footer .inner .info {font-size:28px}
}

@media screen and (max-width:1024px) {
	#footer .inner {height:100%;padding:20px 5%;align-items:flex-start;justify-content:center}
	#footer .inner .logo {max-width:150px}
	#footer .inner .info {display:block;width:100%;padding:10px 0 0;font-size:22px}
}

@media screen and (max-width:991px) {
	.top_banner {height:66px}
	.top_banner img {max-width:400px}
	#footer .inner .info {padding:0 0 0 15px;font-size:18px}
	/* .keyvisual {height:calc(100vh - 213px)} */
	.keyvisual img {max-width:301.5px}
	.btn {max-width:300px;width:44%;margin-left:20px;}
	.btn a {font-size:30px}
}
@media screen and (max-width:500px) {
	.keyvisual {height:calc(100vh - 150px)}
	.keyvisual img {margin:55px 0 0}
	.keyvisual .keyvisual_inner {height:100%}
	#footer {height:150px}
	#footer .inner .info {font-size:15px;line-height:15px}
	#footer .inner .info p br {display:block}
	#footer .inner .logo {max-width:110px;}
	.btns {position:absolute;top:50%;margin:0;padding:0 6%;transform:translateY(-50%);}
	.btn a {font-size:22px}
	.top_banner {height:50px}
	.top_banner img {max-width:300px}
}
